.timer-section {
}

.timer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-box {
  display: flex;
  gap: 8px;
}

.timer-container input {
  width: 272px;
  height: 40px;

  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #808080;

  color: #2e2f42;

  &:disabled {
    cursor: default;
  }
}

.timer-container button {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;

  &:disabled {
    background: #cfcfcf;
    color: #989898;
    cursor: default;
  }
}

.timer-container button {
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;

  & .disabled {
    background: #cfcfcf;

    color: #989898;
  }
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;

  color: #2e2f42;
}

.label {
  text-transform: uppercase;
  text-align: center;

  color: #2e2f42;
}

.iziToast > .iziToast-close {
  background: url('../img/close.svg') no-repeat center center !important;
  width: 20px;
  height: 20px;
}
