body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;

  color: rgb(var(--cl-black));
  background-color: rgb(var(--cl-white));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;

  border-color: transparent;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 75px 0;
  }
}

/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    /* max-width: 704px; */
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    /* max-width: 1024px; */
    max-width: 1280px;
    padding: 0 128px;
  }
}
